<%= form_for setup_recepy(@recepy), remote: true do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %> <br/>
  <hr/>
  <h4>Ingredients: </h4>
  <%= f.nested_fields_for :ingredients  do |ff| %> <br/>
    <div class="ingredient">
      <%= ff.label :description %>
      <%= ff.text_field :description %> <br/>

      <%= ff.label :quantity %>
      <%= ff.text_field :quantity %> <br/>

      <%= ff.label :quantity_type %>
      <%= ff.select(:quantity_type, Ingredient.quantity_types.keys.to_a.map { |w| [w.humanize, w] }, {}, { class: '', id: '' } ) %> <br/>

      <% if ff.object.persisted? %>
        <%= ff.check_box :_destroy %>
        <%= ff.label :_destroy, "Destroy" %>
      <% end %>
    </div>
  <% end %>
  <br/>
  <%= f.add_nested_fields_link :ingredients %>
  <br/>
  <hr/>
  <br/>
  <%= f.label :description %>
  <%= f.text_field :description %> <br/>

  <%= f.label :category_id %>
  <%= f.select(:category_id, Category.all.to_a.map { |c| [c.title.titleize, c.id] }, {}, { class: '' } )%><br/>
  <br/>
  <br/>
  <%= f.submit 'Submit', class: 'btn btn-large btn-info' %>
<% end %>